@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  padding: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 2px solid #262626;
}

.toolbar {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-container {
  grid-gap: 2em;
}

.toolbar-container-1 {
  display: flex;
  justify-content: center;
  grid-gap: 1em;
}

.toolbar-container-1 select, option {
  width: 200px;
}

.toolbar-container-1 option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toolbar-container-2 {
  display: flex;
  text-align: center;
  grid-gap: 1em;
}

.toolbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ok-button {
  width: 100px;
  height: 40px;
  border-radius: 2em;
  background-color: cornflowerblue;
  cursor: pointer;
}